Repository edgexfoundry/edgex-docs, pull requests merged in 2020-12, with the labels that each got.

#300 fix(ref): clean up all geneva specific references for hanoi
  docs_src/design/adr/core/0003-V2-API-Principles.md
  docs_src/examples/Ch-ExamplesAddingMQTTDevice.md
  docs_src/examples/Ch-ExamplesAddingModbusDevice.md
  docs_src/getting-started/Ch-GettingStartedSDK-C.md
  docs_src/getting-started/Ch-GettingStartedSDK-Go.md
  docs_src/getting-started/Ch-GettingStartedUsers.md
  docs_src/getting-started/quick-start/index.md
  docs_src/index.md
  docs_src/microservices/core/database/Ch-Redis.md
  docs_src/microservices/security/Ch-Docker-Swarm-SecuringDeviceServices.md
  docs_src/microservices/security/Ch-SecretStore.md
  mkdocs.yml
Labels: documentation, hanoi

#276 feat(adr): Device Services send Events via Message Bus
  docs_src/design/TOC.md
  docs_src/design/adr/013-Device-Service-Events-Message-Bus.md
Labels: ADR

#140 feat(adr): ADR for bootstrapping of EdgeX in OCI container environments
  docs_src/design/TOC.md
  docs_src/design/adr/security/0009-Secure-Bootstrapping.md
  docs_src/design/adr/security/bootstrap-as-is.jpg
  docs_src/design/adr/security/bootstrap-to-be.jpg
Labels: ADR, hanoi

#281 feat(adr): SecretProvider for all EdgeX Services
  docs_src/design/TOC.md
  docs_src/design/adr/014-Secret-Provider-For-All.md
Labels: ADR
