Repository edgexfoundry/edgex-docs, pull requests merged in 2021-03, with the labels that each got.

#282 feat(adr): addition of device service filter ADR
  docs_src/design/TOC.md
  docs_src/design/adr/device-service/0012-DeviceService-Filters.md
Labels: ADR, documentation, hanoi

#358 fix(microservices): fix description of frequency for scheduler interval
  docs_src/api/supporting/Ch-APISupportingServicesScheduling.md
  docs_src/microservices/support/scheduler/Ch-Scheduling.md
Labels: bug, documentation, ireland

#283 feat(adr): add Service Registry ADR
  docs_src/design/TOC.md
  docs_src/design/adr/0018-Service-Registry.md
Labels: ADR
