Repository edgexfoundry/edgex-docs, pull requests merged in 2021-01, with the labels that each got.

#313 feat(ref): add introductory CLI documenation page
  docs_src/getting-started/tools/Ch-CommandLineInterface.md
  docs_src/getting-started/tools/create-device.png
  docs_src/getting-started/tools/device-list-by-name.png
  docs_src/getting-started/tools/device-list-json.png
  docs_src/getting-started/tools/device-list.png
  docs_src/getting-started/tools/update-device.png
  mkdocs.yml
Labels: documentation, enhancement, hanoi

#301 feat(adr): Update release ADR for go-mod tagging and edgex-cli artifacts
  docs_src/design/adr/devops/0007-Release-Automation.md
Labels: ADR, documentation, ireland

#247 fix(adr): Update ADR#11 following review
  docs_src/design/adr/device-service/0011-DeviceService-Rest-API.md
Labels: ADR
