Repository edgexfoundry/edgex-docs, pull requests merged in 2021-02, with the labels that each got.

#336 fix(adr): updated 0002 to remove proposed V2 API changes
  docs_src/design/adr/device-service/0002-Array-Datatypes.md
Labels: 1-low, ADR, documentation, ireland

#342 feat: Add SourceName to publish topic schema
  docs_src/design/adr/013-Device-Service-Events-Message-Bus.md
Labels: ADR, documentation, ireland

#327 fix(legacy): Remove noninclusive language from device discovery spec
  docs_src/design/legacy-design/device-service/discovery.md
Labels: ADR

#318 feat(adr): ADR for securing Consul
  docs_src/design/TOC.md
  docs_src/design/adr/security/0017-consul-security.md
Labels: ADR

#343 feat(adr): update DockerHub Overview release automation
  docs_src/design/adr/devops/0010-Release-Artifacts.md
Labels: ADR, documentation
