Repository edgexfoundry/edgex-docs, pull requests merged in 2022-03, with the labels that each got.

#268 feat(adr): addition of metrics collection ADR
  docs_src/design/TOC.md
  docs_src/design/adr/0006-Metrics-Collection.md
  mkdocs.yml
Labels: documentation, ADR, ireland

#694 feat(adr): new and improved UoM ADR
  docs_src/design/TOC.md
  docs_src/design/adr/core/0022-UoM.md
  docs_src/design/adr/core/EdgeX_UoM_Validation.png
Labels: documentation, ADR, kamakura

#703 build: add Makefile and docker image
  .gitignore
  Dockerfile.docs
  Jenkinsfile
  Makefile
  README.md
  mkdocs.yml
Labels: documentation, enhancement, kamakura
