Repository edgexfoundry/edgex-docs, pull requests merged in 2023-11, with the labels that each got.

#1277 refactor: Move App LLRP docs from README to new 3.1 structure
  docs_src/microservices/application/services/AppLLRPInventory/ApiReference.md
  docs_src/microservices/application/services/AppLLRPInventory/Configuration.md
  docs_src/microservices/application/services/AppLLRPInventory/GettingStarted.md
  docs_src/microservices/application/services/AppLLRPInventory/Purpose.md
  docs_src/microservices/application/services/AppLLRPInventory/SourceCode.md
  docs_src/microservices/application/services/AppLLRPInventory/details/Behaviors.md
  docs_src/microservices/application/services/AppLLRPInventory/details/InventoryEvents.md
  docs_src/microservices/application/services/AppLLRPInventory/details/LocationAliases.md
  docs_src/microservices/application/services/AppLLRPInventory/details/MobilityProfile.md
  docs_src/microservices/application/services/AppLLRPInventory/details/TagLocationAlgorithm.md
  docs_src/microservices/application/services/AppLLRPInventory/details/aliases.png
  docs_src/microservices/application/services/AppLLRPInventory/details/consul_alias_folder.png
  docs_src/microservices/application/services/AppLLRPInventory/details/consul_kv_pairs.png
  docs_src/microservices/application/services/AppLLRPInventory/details/mobility-profile.png
  docs_src/microservices/application/services/AppLLRPInventory/details/tag-state-diagram.png
  mkdocs.yml
Labels: documentation

#1279 refactor: More tweaks to Device Services
  docs_src/microservices/device/V3Migration.md
  docs_src/microservices/device/details/AutoEvents.md
  docs_src/microservices/device/details/CommandLine.md
  docs_src/microservices/device/details/DeviceCommands.md
  docs_src/microservices/device/details/DeviceDefinitions.md
  docs_src/microservices/device/details/DeviceProfiles.md
  docs_src/microservices/device/how-to/Ch-RemoteNonSecure.md
  docs_src/microservices/device/how-to/Ch-RemoteSecure.md
  docs_src/microservices/device/remote/Ch-RemoteSecure.md
  docs_src/microservices/device/sdk/SDK-Go-API.md
  docs_src/microservices/device/sdk/api/CDeviceSDK/CDeviceSDKAPI.md
  docs_src/microservices/device/sdk/api/CDeviceSDK/CUtilities.md
  docs_src/microservices/device/sdk/api/GoDeviceSDK/GoDeviceSDKAPI.md
  docs_src/microservices/device/sdk/api/GoDeviceSDK/GoProtocolDriverAPI.md
  docs_src/microservices/device/sdk/details/CustomRestApis.md
  docs_src/microservices/device/sdk/details/CustomServiceMetrics.md
  docs_src/microservices/device/sdk/devicesdk-getting-started/GettingStartedSDK-C.md
  docs_src/microservices/device/sdk/devicesdk-getting-started/GettingStartedSDK-Go.md
  docs_src/microservices/device/services/Ch-DeviceServiceList.md
  mkdocs.yml
Labels: documentation, device-services

#1292 feat: Document Device REST's Protocol Properties
  docs_src/microservices/device/services/device-rest/ProtocolProperties.md
  mkdocs.yml
Labels: device-services

#1308 ci: update odessa version number in versions.json
  docs/versions.json
Labels: ci
